.base_container {
    height: 100vh;
    overflow: hidden;
    background-color: var(--main-bg);
}

.base_main_container {
    height: calc(100vh - var(--nav-bar-height));
}

.base_body_container {
    overflow: hidden;
    margin: 20px;
}
