.side_nav_container {
    width: 68px;
    background-color: #ebebeb;
    overflow: auto;
    user-select: none;
    padding: 4px 0;
}

.side_nav_inner_container {
    width: 100%;

    &::before {
        content: "";
        background-color: var(--tab-base-active-color);
        width: 2px;
        height: 48px;
        border-radius: 20px;

        position: absolute;
        left: 4px;
        top: calc(var(--active-index) * 56px + 4px);
        transition: top ease-in 0.1s;
    }
}

.nav_item {
    height: 56px;
    color: var(--tab-base-color1);

    &:hover,
    &:global(.active) {
        color: var(--tab-base-active-color);
    }
}

.nav_item_label {
    margin-top: 2px;
}

.nav_user_btn {
    margin-top: auto;
    height: 48px;
}

.user_btn_box {
    width: 100%;
}

.user_btn {
    font-size: 24px !important;
    color: var(--tab-base-color1);
}
