@import "../global.scss";

.commodity-wrap {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  .search,
  .categories {
    @extend .base-card;
  }

  .search {
    display: flex;
    margin-bottom: 10px;
    :global(.ant-input-search) {
      width: 260px;
      margin-right: 20px;
    }

    :global(.ant-btn) {
      margin-right: 20px;
    }
  }

  .bottom-wrap {
    flex: 1;
    position: relative;
    display: flex;

    $cate-left-width: 230px;

    .categories {
      position: absolute;
      top: 0;
      left: 0;
      width: $cate-left-width;
      bottom: 0;
      overflow: auto;
      user-select: none;
      padding: {
        top: 0;
        right: 0;
        left: 5px;
      }
    }

    .commodity-list-wrap {
      flex: 1;
      margin-left: $cate-left-width + 10px;
      .list-wrap {
        height: 100%;
      }
      // position: absolute;
      // top: 0;
      // left: 270px;
      // right: 0;
      // bottom: 0;
      // overflow: auto;
    }
    .right-menu {
      @extend .base-card;
      z-index: 1500;
      padding: 0;
      position: fixed;
      user-select: none;
      overflow: hidden;
      background-color: #fff;
      .menu-item {
        cursor: pointer;
        font-size: 14px;
        padding: 10px;
        &:not(.disable):hover {
          color: #1890ff;
          background-color: #e6f7ff;
        }

        &.disable {
          color: rgba(0, 0, 0, 0.25);
          cursor: not-allowed;
        }

        transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
          border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
          padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }
}

.commodity-drawer-form {
  :global(.ant-form-item) {
    margin-bottom: 0px;
  }
}
