@import "../global.scss";

.stock-wrap {
  height: 100%;
  display: flex;
  .stock-left,
  .stock-right {
    height: 100%;
  }

  .stock-fn,
  .stock-details {
    @extend .base-card;
  }

  .stock-left {
    width: 500px;
    margin-right: 10px;
  }

  .stock-right {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    .stock-fn {
      margin-bottom: 10px;

      :global(.ant-form-item) {
        margin-bottom: 14px;
      }

      :global(.ant-btn) {
        margin-right: 10px;
      }
    }
    .stock-commodity-list {
      flex: 1;

      overflow: hidden;
    }
  }
}
