.global-supplier-base {
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.supplier-wrap {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  .supplier-search {
    @extend .global-supplier-base;
  }

  .supplier-search {
    display: flex;
    margin-bottom: 10px;
    :global(.ant-input-search) {
      width: 260px;
      margin-right: 20px;
    }

    & > *:not(:first-child) {
      margin-right: 10px;
    }
  }

  .supplier-list {
    flex: 1;
  }
}
