.virtual-wrap {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

  .virtual-scroll {
    position: absolute;
    overflow-y: auto;

    .virtual-items {
      position: absolute;
      left: 0;
      right: 0;
      height: 40px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        border-bottom: 1px solid #e8e8e8;
      }
      &.select {
        background-color: #4c8bf5;
        color: #fff;
      }
      &:not(.select).undo {
        background-color: #ff4d4f;
        color: #fff;
      }

      &:not(.select):not(.undo):hover {
        background-color: #e8e8e8;
      }

      .item {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.barcode {
          max-width: 140px;
        }

        &.center {
          text-align: center;
        }
      }
    }
  }

  .virtual-header,
  .virtual-footer {
    height: 40px;
    display: flex;
    user-select: none;
    align-items: center;
    padding: 0 10px;
    background-color: #fafafa;

    .column {
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      &.barcode {
        max-width: 140px;
      }

      &.center {
        text-align: center;
      }
    }
  }

  .virtual-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #e8e8e8;
  }

  .virtual-footer {
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #e8e8e8;
  }
}

@media screen and (max-width: 1049px) {
  .virtual-wrap {
    .virtual-header,
    .virtual-footer,
    .virtual-items {
      .column,
      .item {
        &.type1 {
          flex: 0 1 50px;
        }

        &.type2 {
          flex: 1;
        }

        &.type3 {
          flex: 0 1 60px;
        }

        &.type4 {
          flex: 2;
        }
      }
    }
  }
}

/**
     * type
     * 1: 序号状态，占比很小的字段
     * 2: 需要自适应宽度的字段
     * 3: 价格、数量等字段
     */

@media screen and (min-width: 1050px) {
  .virtual-wrap {
    .virtual-header,
    .virtual-footer,
    .virtual-items {
      .column,
      .item {
        &.type1 {
          flex: 0 1 60px;
        }

        &.type2 {
          flex: 1;
        }

        &.type3 {
          flex: 0 1 80px;
        }

        &.type4 {
          flex: 2;
        }
      }
    }
  }
}
