@import "../global.scss";

.data-wrapper {
  @extend .base-card;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-flow: column;

  .data-content-wrap {
    flex: 1;

    :global(.ant-form) {
      :global(.ant-form-item) {
        margin-bottom: 10px;
      }
    }

    .data-content-export {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      :global(.ant-spin-text) {
          margin-top: 10px;
      }
    }
  }

  .data-footer-wrap {
    :global(.ant-btn) {
      margin-right: 10px;
    }
  }
}
