@import "../global.scss";

.data-import-wrapper {
  @extend .base-card;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .steps-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .upload-toserver-wrap,
    .fields-config-wrap,
    .other-config-wrap {
      height: 100%;
      padding: 16px;
      flex: 1;
    }

    .other-config-wrap {
      display: flex;

      .left-map-wrap {
        width: 280px;
        position: relative;
        margin-right: 16px;

        .left-map-title,
        .left-map-footer {
          height: 30px;
          background-color: #f9f9f9;
          display: flex;
          align-items: center;
          p {
            text-align: center;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.85);
            font-weight: 500;
            margin-bottom: 0;
            &:first-child {
              width: 90px;
            }

            &:last-child {
              flex: 1;
            }
          }
        }

        .left-map-title {
          border-top: {
            left-radius: 5px;
            right-radius: 5px;
          }
        }

        .left-map-footer {
          border-bottom: {
            left-radius: 5px;
            right-radius: 5px;
          }
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
        }

        .left-map-list {
          overflow: scroll;
          position: absolute;
          bottom: 30px;
          left: 0;
          right: 0;
          top: 30px;
          padding: {
            top: 6px;
            bottom: 6px;
          }
          .value-pair-wrap {
            display: flex;

            &:not(:last-child) {
              margin-bottom: 8px;
              padding-bottom: 8px;
              border-bottom: 1px solid #ccc;
            }
            .field-name {
              width: 90px;

              :global(.ant-tag) {
                width: 80px;
                overflow: hidden;

                text-overflow: ellipsis;

                white-space: nowrap;
              }
            }

            .value-list {
              flex: 1;

              .value-item {
                margin-bottom: 2px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .value-pair {
                  display: flex;
                  // justify-content: space-between;
                  align-items: center;

                  .value-item-arrow {
                    margin-right: 8px;
                  }

                  :global(.ant-tag) {
                    max-width: 64px;

                    overflow: hidden;

                    text-overflow: ellipsis;

                    white-space: nowrap;

                    &:last-child {
                      margin-right: 0;
                    }
                  }

                  .del-btn {
                    color: #ff4d4f;
                    cursor: pointer;
                    transition: opacity ease 0.3s;
                    z-index: -1;
                    opacity: 0;
                  }
                }

                &:hover {
                  .del-btn {
                    opacity: 1;
                    z-index: auto;
                  }
                }
              }
            }
          }
        }
      }

      .right-wrap {
        flex: 1;
        :global(.ant-form-item) {
          margin-bottom: 18px;
        }
      }
    }

    .upload-toserver-wrap {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }

    .fields-config-wrap {

      & > p:first-of-type {
        margin-bottom: 10px;
      }
      :global(.ant-row) {
        margin-bottom: 0px;
      }
    }

    .upload-file {
      :global(.ant-upload) {
        padding: {
          left: 16px;
          right: 16px;
        }
      }

      .upload-status {
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        .dot-ani {
          display: inline-block;
          height: 12px;
          line-height: 12px;
          overflow: hidden;
        }
        .dot-ani::after {
          display: inline-table;
          white-space: pre;
          content: "\A.\A..\A...";
          animation: spin 2s steps(4) infinite;
        }
        @keyframes spin {
          to {
            -webkit-transform: translateY(-48px);
            transform: translateY(-48px);
          }
        }
      }

      .file-list {
        height: 20px;
        padding: 16px 0px;
        .file-list-item {
          cursor: pointer;
          color: #1890ff;
          transition: background-color 0.3s;
          padding: 0 4px;
          &:hover {
            background-color: #e6f7ff;
          }
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }

  .steps-btn-wrap {
    :global(.ant-btn) {
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 1480px) {
  .data-import-wrapper .steps-body .other-config-wrap .left-map-wrap {
    width: 400px;
  }
}
