@import "../global.scss";

.commodity-wrap {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  .commodity-fn-wrap,
  .commodity-list {
    @extend .base-card;
  }

  .commodity-fn-wrap {
    margin-bottom: 10px;
    display: flex;

    .select-wrap {
      flex: 0 1 180px;
      margin-right: 10px;
    }

    :global(.ant-btn) {
      margin-right: 10px;
    }
  }

  .commodity-list-wrap {
    flex: 1;
    position: relative;

    .commodity-list {
      height: 100%;
    }
  }
}
