@import "../global.scss";

.promotion-manage-wrap {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;

  .manage-list-wrap {
    flex: 1;

    position: relative;

    .manage-list {
      @extend .base-card;
      height: 100%;
    }
  }

  .manage-fn {
    @extend .base-card;
    margin-bottom: 10px;

    :global(.ant-btn) {
      margin-right: 10px;
    }
  }
}
