@import "@/styles/mixins.scss";

.login_field_input {
    height: 36px;
    padding: 6px 0;
    outline: none;
    border: {
        top: none;
        left: none;
        right: none;
        bottom: 1px solid rgba(0, 0, 0, 0.6);
    }

    &:hover {
        border-color: rgba(0, 0, 0, 0.8);
    }

    &:focus {
        border-color: #0067b8;
    }
}

.login_btn_group {
    color: red;
    @include flex;
    @include flex-justify-end;

    button + button {
        margin-left: 16px;
    }
}

.login_main_form {
    & > * + * {
        margin-top: 16px;
    }
}