:global {
    .fade-exit {
        opacity: 1;
    }

    .fade-exit-active {
        opacity: 0;
        transition: opacity cubic-bezier(0.5, 0, 0.5, 1) 0.25s;
    }

    .fade-exit-done {
        opacity: 0;
    }

    .fade-enter {
        opacity: 0;
    }

    .fade-enter-active {
        opacity: 1;
        transition: opacity cubic-bezier(0.5, 0, 0.5, 1) 0.25s;
    }

    .fade-enter-done {
        opacity: 1;
    }
}
