.cash-base-card {
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.global-no-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.global-list-header-footer {
  height: 40px;
  display: flex;
  user-select: none;
  align-items: center;
  padding: 0 10px;
  background-color: #fafafa;

  .column {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    &.barcode {
      max-width: 140px;
    }
  }
}

.global-list-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #e8e8e8;
}

.global-list-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #e8e8e8;
}

.cash-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;

  .cash-top {
    @extend .cash-base-card;
    display: flex;

    .input-wrap {
      :global(.ant-input) {
        text-transform: uppercase;
      }
    }

    .cash-total {
      @extend .global-no-overflow;

      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin: 0;
      }

      span {
        color: #000;

        &.value {
          font-size: 24px;
        }

        &.float {
          font-size: 14px;
        }
      }
    }
  }

  .cash-commodity {
    // 商品展示部分
    // @extend .cash-base-card;
    flex: 1;
    margin-top: 10px;
  }

  .cash-vip {
    @extend .cash-base-card;
    margin-top: 10px;
    height: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: flex-start;

    &::after {
      content: "";
      flex: 0 0 25%;
    }

    .cash-vip-details {
      margin-right: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        &.value {
          color: #000;
          font-size: 14px;
          font-weight: 600;
        }
        &.label {
          user-select: none;
          font-size: 12px;
        }
      }
    }
  }
}

.cash-right {
  user-select: none;
  @extend .cash-base-card;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  align-items: center;
  .cash-hotkey {
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 5px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
      color: #40a9ff;
      border-color: #40a9ff;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    }

    & + :global(.ant-badge-multiple-words) {
      padding: 0 4px;
    }
  }
}

.cash-dialog-commodity {
  padding: 0;

  :global(.ant-modal-body) {
    padding: 0px;

    .wrapper {
      height: 400px;
      margin: 10px;
    }
  }
}

.cash-dialog-vip {
  :global(.ant-input) {
    text-transform: uppercase;
  }
}

.cash-dialog-checkout {
  min-width: 600px;
  :global(.ant-modal-body) {
    .wrap {
      display: flex;
      & > div {
        &:first-child {
          flex: 2;
          :global(.ant-statistic-content) {
            @extend .global-no-overflow;
          }
        }
        &:last-child {
          flex: 6;
          .device-status-wrap,
          .pay-type-wrap {
            display: flex;
            justify-content: space-between;

            & > p:first-child {
              width: 70px;
            }
          }

          .device-status-wrap {
            .device-status {
              flex: 1;
              margin-left: 25px;
              display: flex;
              justify-content: space-between;
            }
          }

          .check-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > p:first-child {
              width: 70px;
              margin-bottom: 0;
              margin-right: 25px;
            }

            .input-wrap {
              flex: 1;
              display: flex;
              justify-content: space-between;

              input {
                flex: 1;
                margin-right: 40px;
                color: red;
              }

              button {
                width: 80px;
              }
            }
          }
        }
      }
    }
  }
}

.cash-dialog-hangup,
.cash-dialog-history-order {
  min-width: 700px;
  :global(.ant-modal-body) {
    padding: 10px;
    .order-list {
      height: 250px;
    }

    .order-details {
      height: 250px;
      margin-top: 10px;
    }
  }
}

.cash-dialog-history-order {
  .modal-footer {
    display: flex;
  }
}
