.loading-wrap {
    opacity: 1;
    z-index: 500;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    transition: ease .8s;
}

.hide {
    opacity: 0;
    z-index: -1;
}