.login-bg {
  height: 100%;
  background-color: #f2f1f6;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-wrapper {
    background-color: #fff;
    width: 320px;

    .title-wrap {
      position: relative;
      .logo {
        position: absolute;
        width: 61px;
        height: 61px;
        top: 0;
        bottom: 0;
        left: 65px;
      }
      .login-title {
        margin: 20px 0;
        color: #000;
        font-weight: bold;
      }
    }
    .login-input-fix {
      margin-top: -10px;
      margin-bottom: 4px;
    }
  }
}
