@import "@/styles/mixins.scss";

:root {
    --nav-bar-height: 30px;

    --tab-base-color1: #616161;

    --tab-base-active-color: #5b5fc7;

    --main-bg: #f5f5f5;

    --border-color: #e0e0e0;
}

html,
body,
#root {
    height: 100%;
}

body {
    min-width: 800px;
    min-height: 600px;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.abs {
    position: absolute;
}

.fixed {
    position: fixed;
}

.flex {
    @include flex;
}

.flex-column {
    @include flex-column;
}

.flex-justify-center {
    @include flex-justify-center;
}

.flex-justify-end {
    @include flex-justify-end;
}

.flex-align-center {
    @include flex-align-center;
}

.flex-center {
    @extend .flex-justify-center, .flex-align-center;
}

.flex-auto {
    @include flex-auto;
}

.text-center {
    text-align: center;
}

.common-card {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.full-height {
    height: 100%;
}

.notvisible {
    visibility: hidden;
}
