.system-main {
	display: flex;
	flex-flow: row wrap;
	padding: 20px;
	padding-top: 0;

	.system-main-card {
		margin-right: 30px;
		margin-bottom: 30px;
		width: 160px;
		position: relative;
	}

	.system-main-title {
		text-align: center;
	}

	.system-main-module-status {
		position: absolute;
		top: -5px;
		right: -5px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #52c41a;
	}
}
