.tabs-wrapper {
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  overflow-x: auto;
  //   width: 100%;
  white-space: nowrap;
  padding-bottom: 10px;
  .tabs {
    user-select: none;
    border: 1px solid #ccc;
    height: 30px;
    font-size: 14px;
    padding: 0 10px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    &.active {
      background-color: #1890ff;
      border-color: transparent;
      color: #fff;
    }
  }
}

.scrollbar-wrap {
  position: relative;
  .scrollbar {
    z-index: -1;
    opacity: 0;
    background-color: #ccc;
    border-radius: 2px;
    position: absolute;
    bottom: 3px;
    cursor: pointer;
    transition: opacity ease 0.3s;
    height: 8px;
    width: 400px;
  }

  &:hover .scrollbar {
    z-index: 1;
    opacity: 1;
  }
}
