@import "./global.scss";

.user-manage-wrap {
  height: 100%;
  display: flex;

  flex-flow: row nowrap;
  .user-manage-fn,
  .user-manage-list {
    @extend .base-card;
  }

  .user-manage-fn {
    width: 175px;
    :global(.ant-btn) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .user-manage-list {
    flex: 1;
    margin-right: 10px;
  }
}
