@import "./global.scss";

.vip-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  .vip-fn,
  .vip-list {
    @extend .base-card;
  }

  .vip-fn {
    :global(.ant-input-search) {
      width: 250px;
      margin-right: 10px;
    }

    :global(.ant-btn) {
      margin-right: 10px;
    }
  }

  .vip-list {
    margin-top: 10px;
    flex: 1;
  }
}

.vip-setting-wrap {
  @extend .base-card;
  height: 100%;

  & > :global(.ant-card) {
    margin-bottom: 10px;

    .vip-setting-grid {
      cursor: pointer;

      &:hover {
        color: #4c97ff;
      }
    }
  }
}
